/*Color scheme for the site */
.dark-primary-color {
    background: #388E3C;
}

.default-primary-color {
    background: #4CAF50;
}

.light-primary-color {
    background: #C8E6C9;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #FF5722;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #727272;
}

.divider-color {
    border-color: #B6B6B6;
}

html,
body {
    height: 100%;
    width: 100%;
}

.hidden_div {
    display: none;
}

ul {
    list-style-type: none;
}

.alert {
    display: none;
}

.navbar {
    margin-bottom: 0;
}

#heading {
    text-align: center;
    margin-top: 30px;
    /* margin-bottom: 30px;*/
}

.thumbnail {
    height: 200px;
    overflow: auto;
}

.title {
    font-size: 18px;
}

#list {
    margin-top: 3%;
}

.upvotes {
    margin-right: 20px;
    font-size: 18px;
}

.comments {
    margin: 3% auto 3% auto;
}

/*.container {
    margin-top: 3%;
}*/

#date {
    float: right;
    font-size: 10px;
    font-weight: 800;
    margin-top: 1px;
}

#comment-text {
    font-size: 16px;
}

.list-group-item {
    margin-top: 30px;
}

#user {
    font-weight: 800;
}

#padded {
    padding: 15px;
}

#signup {
    float: left;
}

#top-rated {
    color: black;
}

/* Fix issue with offsetting by overriding default css */
.row .col.m6 {
    margin-left: 25%;
}

.votes {
    font-size: 25px;
}

.right {
    margin-right: 15px;
}

.main {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    color: white;
}

/*Add more margin to brand*/
#custom-brand {
    margin-left: 1%;
}

.inner {
    margin-top: 15%;
}

/* Set the height to 0 to remove vertical overflow*/
.navbar-fixed {
    height: 0;
}