body {
    background-color: #607d8b;
}

.hidden_div {
    display: none;
}

ul {
    list-style-type: none;
}

.alert {
    display: none;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    background: url('https://c2.staticflickr.com/8/7213/6887025506_38362b2f59_b.jpg') no-repeat;
    background-size: cover;
    margin-bottom: 0;
    text-align: center;
    color: white;
}

#heading {
    text-align: center;
    margin-top: 30px;
    /* margin-bottom: 30px;*/
}

.thumbnail {
    height: 200px;
    overflow: auto;
}

.title {
    font-size: 18px;
}

#list {
    margin-top: 3%;
}

.upvotes {
    margin-right: 20px;
    font-size: 18px;
}

.comments {
    margin: 3% auto 3% auto;
}

/*.container {
    margin-top: 3%;
}*/

#date {
    float: right;
    font-size: 10px;
    font-weight: 800;
    margin-top: 1px;
}

#comment-text {
    font-size: 16px;
}

.list-group-item {
    margin-top: 30px;
}

#user {
    font-weight: 800;
}

#padded {
    padding: 15px;
}

#signup {
    float: left;
}

#top-rated {
    color: black;
}

/* Fix issue with offsetting by overriding default css */
.row .col.m6 {
    margin-left: 25%;
}