<template name="comments">
    <div class="comment-placeholder-wrapper">
        {{#if showAll}}
            {{#if comments}}
                <ul>
                    {{#each comments}}
                        {{> comment}}
                    {{/each}}
                </ul>
            {{else}}
                <p class="no-comments">No comments yet...</p>
            {{/if}}
        {{else}}

            {{> last_comment }}

        {{/if}}
    </div>
    <form class="js-add-comment add-comment">
        <textarea class="comment-placeholder" placeholder="Add a comment..."></textarea>
        <button type="submit" class="btn waves-effect waves-orange comment-button">Comment</button>
        <button class="btn waves-effect waves-orange cancel-button">Cancel</button>
    </form>
</template>