<template name="home">
    <div class="main-outer center">
        <div class="main1">
            <div class="container">
                <div class="inner">
                    <h4>Discover The Best Websites</h4>
                    <h6>Sign up or browse without login</h6>
                    <a class="waves-effect waves-light btn" href="/sites">Browse</a>
                </div>
            </div>
        </div>
        <a href="#about" id="chevron-button" class="btn-floating btn-large waves-effect waves-light scrollspy"><i
                class="fa fa-chevron-down"></i></a>
    </div>

    <section id="about">
        <div class="promo-wrap center">
            <div class="promo">
                <p class="promo-header">Get the best out of Site Ace</p>
                <div class="row">

                    <div class="col s6 m4">
                        <i class="large material-icons">library_add</i>
                        <p class="promo-title">Share</p>
                        <p class="promo-text">Know some websites offering excellent resources for learning
                            programming? Do not hesitate, share them here!</p>
                    </div>
                    <div class="col s6 m4">
                        <i class="large material-icons">thumbs_up_down</i>
                        <p class="promo-title">Rate</p>
                        <p class="promo-text">Upvote the websites to get them to the top of the list so more people can
                            see them.
                            Think that some of the top rated websites do not deserve to be there? There is a downvote
                            option as well!</p>
                    </div>
                    <div class="col s6 m4">
                        <i class="large material-icons">forum</i>
                        <p class="promo-title">Discuss</p>
                        <p class="promo-text">Share your thoughts about the pages that are of interest to you. Our
                            comments
                            section offers an excellent opportunity to engage in a healthy discussion!</p>
                    </div>
                </div>
            </div>
            <a class="btn btn-custom btn-default" id="join">Join Now</a>
        </div>

    </section>

</template>