<template name="last_comment">
    {{#if last_comment.date}}
        <div class="comment">
            <span id="user">{{last_comment.user}}</span>
            <span id="date">{{formatDate last_comment.date}}</span>
            <i class="fa fa-times right hide tooltipped" data-position="bottom" data-delay="50"
               data-tooltip="Delete comment"></i>
            <p id="comment-text">{{last_comment.text}}</p>
        </div>
    {{else}}
        <p>No comments yet...</p>
    {{/if}}

</template>