<template name="navbar">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo" id="custom-brand">Site Ace</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/sites">Sites</a></li>
                    <li><a href="/sites">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li>{{>  atNavButton }}</li>
                </ul>
            </div>
        </nav>
    </div>
</template>