<!-- template that displays individual website entries -->
<template name="website_item">

    <div class="col s12 m6 offset-m3">
        <div class="card hoverable">
            <div class="card-content" id="blue">
                <a href="{{url}}" target="_blank"><span class="card-title">{{title}}</span></a>
                <div class="divider"></div>
                <br>
                <p>{{{description}}}</p>

            </div>
            <div class="card-action valign-wrapper">

                <div class="js-upvote valign-wrapper social tooltipped" data-position="right" data-delay="50"
                     data-tooltip="Upvote">
                    <i class="material-icons valign">thumb_up</i>
                        <span class="votes valign">{{#if upvotes}} {{upvotes}} {{else}}
                            0 {{/if}}</span>
                </div>
                <div class="comment-count js-show-comments valign-wrapper social">
                    <i class="material-icons valign">comment</i>

                        <span class="votes valign">{{#if upvotes}} {{commentsCount}} {{else}}
                            0 {{/if}}</span>
                </div>
            </div>
            <div class="divider"></div>
            {{> comments}}
        </div>
    </div>
</template>
