<!-- template that displays individual website entries -->
<template name="website_item">

    <div class="col s12 m6 offset-m3">
        <div class="card hoverable">
            <div class="card-content">
                <a href="{{url}}" target="_blank"><span class="card-title">{{title}}</span></a>
                <div class="divider"></div>
                <br>
                <p>{{{description}}}</p>

            </div>
            <div class="card-action valign-wrapper">

                <div class="upvote"><a
                        class="btn-floating waves-effect waves-light btn js-upvote" id="btn-custom-margin1"><i
                        class="material-icons">thumb_up</i></a>

                        <span class="votes valign">{{#if upvotes}} {{upvotes}} {{else}}
                            0 {{/if}}</span>
                </div>
                <div class="comment-count"><a
                        class="btn-floating waves-effect waves-light btn js-upvote " id="btn-custom-margin2"><i
                        class="material-icons">chat_bubble_outline</i></a>

                        <span class="votes valign">{{#if upvotes}} {{upvotes}} {{else}}
                            0 {{/if}}</span></div>
            </div>
            <div class="divider"></div>
            {{> comments}}
        </div>
    </div>
</template>
