<template name="website_form">
    {{#if currentUser}}
        <a class="btn-floating btn-large waves-effect waves-light btn tooltipped js-toggle-website-form"
           data-position="right" data-delay="50" data-tooltip="Add a new site" href="#">
            <i class="material-icons">add</i>
        </a>
    {{/if}}
    <div id="website_form" class="hidden_div">
        <form class="js-save-website-form">
            <div class="form-group">
                <label for="url">Site address</label>
                <input type="text" class="form-control" id="url" placeholder="http://www.mysite.com">
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Mysite">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description"
                       placeholder="I found this site really useful for ...">
            </div>
            <div class="alert alert-danger"></div>
            <button type="submit" class="waves-effect waves-light btn">Submit</button>
        </form>
    </div>
</template>

